<form action="/admin/foods/delete?id=<%= id %>" class="delete-validation" method="post">
    <h1>Валидация</h1>
    <p>Сигурни ли сте, че искате да изтриете това ястие?</p>
    <button type="submit">ДА</button>
</form>