<form action="/admin/login" class="admin-login" method="post">
    <h1>Admin Panel</h1>
    <input type="text" name="name" value="admin" readonly>
    <input type="password" name="password" id="" placeholder="Password">
    <button type="submit">Login</button>
</form>