<h1>Admin Reservations</h1>
<script>
    const ws = new WebSocket('ws://localhost:8080');

    ws.onopen = () => {
      console.log('Sunucuya bağlandı!');
      ws.send('Merhaba sunucu! (Tarayıcıdan)');
    };

    ws.onmessage = (event) => {
      console.log('Sunucudan gelen mesaj:', event.data);
      alert('Mesaj: ' + event.data);
    };

    ws.onclose = () => {
      console.log('Bağlantı kapandı!');
    };

    ws.onerror = (error) => {
      console.error('WebSocket hatası:', error);
    };
</script>