<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Гостилница - <%=title%></title>
    <link rel="shortcut icon" href="/public/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/adminPanel.css">
    <link rel="stylesheet" href="/public/global.css">
</head>
<body>
    <header>
        <article style="display: flex; width: 100%; align-items: center;">
            <h1 class="logo">Гостилница <span>Никола</span></h1>
            <h1 class="admin-logo">Admin Panel</h1>
        </article>
    </header>
    <nav class="navbar">
        <a href="/admin/" class="nav-element">Начало</a>
        <a href="/admin/reservations" class="nav-element">Резервации</a>
        <a href="/admin/foods" class="nav-element">Храни</a>
        <a href="/admin/logout" class="nav-element">Излез</a>
    </nav>
    <video class="back-video" autoPlay muted loop>
        <source src="/public/bgvideo.webm" type="video/webm" />
    </video>
    <main>
        <%-body%>
    </main>
    <footer>
        <h1 class="title">Гостилница Никола &copy</h1>
        <p class="description">Авторско право &copy;2013-2025 Гостилница Никола. Всички права са запазени!</p>
    </footer>
</body>
</html>