<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%> - Гостилница</title>
    <link rel="shortcut icon" href="/public/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/adminPanel.css">
    <link rel="stylesheet" href="/public/global.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <article style="display: flex; width: 100%; align-items: center;">
            <h1 class="logo">Гостилница <span>Никола</span></h1>
            <h1 class="admin-logo">Admin Panel</h1>
        </article>
    </header>
    <nav class="navbar">
        <a href="/admin/" class="nav-element"><i class="fa-solid fa-house"></i>Начало</a>
        <a href="/admin/reservations" class="nav-element"><i class="fa-solid fa-bell-concierge"></i>Резервации</a>
        <a href="/admin/foods" class="nav-element"><i class="fa-solid fa-utensils"></i>Ястия</a>
        <a href="/admin/logout" class="nav-element"><i class="fa-solid fa-right-from-bracket"></i>Излез</a>
    </nav>
    <video class="back-video" autoPlay muted loop>
        <source src="/public/bgvideo.webm" type="video/webm" />
    </video>
    <main>
        <%-body%>
    </main>
    <footer>
        <h1 class="title">Гостилница Никола &copy</h1>
        <p class="description">Авторско право &copy;2013-2025 Гостилница Никола. Всички права са запазени!</p>
        <p class="description">Сайтът е направен с учебна цел от ученик на ИСУ "Христо Ботев"!</p>
    </footer>
</body>
</html>