<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%> - Гостилница</title>
    <link rel="shortcut icon" href="/public/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/global.css">
</head>
<body>
    <header>
        <h1 class="logo">Гостилница <span>Никола</span></h1>
    </header>
    <video class="back-video" autoPlay muted loop>
        <source src="/public/bgvideo.webm" type="video/webm" />
    </video>
    <main>
        <%-body%>
    </main>
    <footer>
        <h1 class="title">Гостилница Никола &copy</h1>
        <p class="description">Авторско право &copy;2013-2025 Гостилница Никола. Всички права са запазени!</p>
        <p class="description">Сайтът е направен с учебна цел от учениците на ИСУ "Христо Ботев"!</p>
    </footer>
</body>
</html>