<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Гостилница - <%=title%></title>
    <link rel="shortcut icon" href="/public/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header>
        <h1 class="logo">Гостилница <span>Никола</span></h1>
    </header>
    <nav class="navbar">
        <a href="/" class="nav-element">Начало</а>
        <a href="/reservations" class="nav-element">Резервация</а>
        <a href="/menu" class="nav-element">Меню</а>
        <a href="/contacts" class="nav-element">Контакти</a>
    </nav>
    <video class="back-video" autoPlay muted loop>
        <source src="/public/bgvideo.webm" type="video/webm" />
    </video>
    <main>
        <%-body%>
    </main>
    <footer>
        <h1 class="title">Гостилница Никола &copy</h1>
        <p class="description">Авторско право &copy;2013-2025 Гостилница Никола. Всички права са запазени!</p>
    </footer>
</body>
</html>