<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Гостилница - <%=title%></title>
    <link rel="shortcut icon" href="/public/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header>
        <h1 class="logo">Гостилница <span>Никола</span></h1>
        <nav class="navbar">
            <a href="/" class="nav-element">Начало</а>
            <a href="/reservations" class="nav-element">Резервация</а>
            <a href="/menu" class="nav-element">Меню</а>
            <a href="/contacts" class="nav-element">Контакти</a>
        </nav>
    </header>
    <video class="back-video" autoPlay muted loop>
        <source src="/public/bgvideo.webm" type="video/webm" />
    </video>
    <%-body%>
</body>
</html>