header {
  background-color: #0e4e0e;
  color: white;
  .logo {
    text-align: left;
    font-style: italic;
    padding: 10px;
    filter: drop-shadow(7px 7px 8px black);
    color: #37cc37;
    span {
      color: #FFC107;
    }
  }
  .admin-logo {
    color: white;
    filter: drop-shadow(7px 7px 8px black);
    margin-left: auto;
    margin-right: 20px;
    font-size: 1.1rem;
    color: #FFC107;
  }
}
.navbar {
  margin-bottom: 10px;
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-left: 50px;
  justify-content: left;
  align-items: center;
  background-color: #FFC107;
  gap: 1px;
  border-bottom: 2px solid black;
  .nav-element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px;
    padding-inline: 30px;
    transition: all 0.3s ease;
    * {
      color: black;
    }
    &:hover {
      transform: scale(1.1);
      padding-inline: 60px;
    }
  }
}

.admin-foods {
  width: 100%;
  padding: 10px;
  button {
    display: block;
    margin-inline: auto;
    background-color: #FFC107;
    color: black;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 15px;
    cursor: pointer;
    &:hover {
      background-color: #e5ae07;
    }
  }
}

.admin-stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  article {
    position: relative;
    display: flex;
    background-color: #FFC107;
    color: black;
    width: 350px;
    height: 100px;
    font-size: 0.9rem;
    justify-content: left;
    padding: 10px;
    align-items: center;
    border: 2px solid black;
    gap: 10px;
    text-align: left;
    box-sizing: content-box;
    transition: all 0.3s ease;
    &:hover {
      background-color: #f5b905;
      cursor: pointer;
      i {
        color: #d4a004;
        right: 30px;
      }
    }
    p {
      font-size: 2.5rem;
      color: black;
      font-weight: bold;
      z-index: 2;
    }
    i {
      position: absolute;
      right: 20px;
      color: #e7af06;
      font-size: 60px;
      align-self: left;
      /* font-style: italic; */
      transition: all 0.3s ease;
      z-index: 1;
    }
  }
}

.reservations {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .reservation {
    background-color: #0e4e0e;
    padding: 20px;
    box-shadow: 2px 2px 3px black;
    p {
      font-size: 15px;
      padding: 10px;
    }
    select {
      width: 100%;
      background-color: #FFC107;
      color: black;
      font-size: 1.1rem;
      option {
        color: black;
      }
    }
    button {
      width: 100%;
      background-color: #FFC107;
      color: black;
      font-size: 1.1rem;
      border: none;
      margin-top: 5px;
    }
  }
}

.reservations-navbar {
  background-color: #FFC107;
  color: black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-inline: auto;
  width: 60%;
  a {
    text-decoration: none;
    color: black;
    padding: 20px;
    transition: all 0.2s ease-in-out;
    &:hover {
      /* background-color: #e2b01b; */
      transform: scale(1.1);
    }
  }
}

main {
  flex: 1;
  .home-text {
    font-size: 3.5rem;
    text-align: center;
    margin-top: 200px;
    font-style: italic;
  }
}

footer {
  padding: 10px;
  background-color: #0d4b0d;
  .title {
    font-size: 1.2rem;
    text-align: center;
  }
  .description {
    text-align: center;
  }
}

.back-video {
  position: fixed;
  object-fit: cover;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.4;
}

@media only screen and (max-width: 600px) {
  .back-video {
    width: auto;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}