header {
  background-color: #0e4e0e;
  color: white;
  .logo {
    text-align: left;
    font-style: italic;
    padding: 10px;
    filter: drop-shadow(7px 7px 8px black);
    color: #37cc37;
    span {
      color: #e4e427;
    }
  }
  .admin-logo {
    color: white;
    filter: drop-shadow(7px 7px 8px black);
    margin-left: auto;
    margin-right: 20px;
    font-size: 1.1rem;
    color: #e4e427;
  }
}
.navbar {
  margin-bottom: 10px;
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-left: 50px;
  justify-content: left;
  align-items: center;
  background-color: yellow;
  gap: 1px;
  border-bottom: 2px solid black;
  .nav-element {
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px;
    padding-inline: 30px;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.1);
      padding-inline: 60px;
    }
  }
}

main {
  flex: 1;
  .home-text {
    font-size: 3.5rem;
    text-align: center;
    margin-top: 200px;
    font-style: italic;
  }
}

footer {
  padding: 10px;
  background-color: #0d4b0d;
  .title {
    font-size: 1.2rem;
    text-align: center;
  }
  .description {
    text-align: center;
  }
}

.back-video {
  position: fixed;
  object-fit: cover;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  opacity: 0.1;
}

@media only screen and (max-width: 600px) {
  .back-video {
    width: auto;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .navbar {
    padding-left: 0px;
    justify-content: center;
    gap: 1px;
    .nav-element {
      font-size: 1.1rem;
      padding: 10px;
      padding-inline: 10px;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.1);
        padding-inline: 5px;
      }
    }
  }
}